* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;

}

body {
  width: 100%;
  height: 100vh;
  background-color: #282c40;
}

.Dashboard {
  display: flex;
  width: 100%;

}

.Left {
  width: 18%;
  height: 100vh;
  box-shadow: 0px 0px 2px gray;
  position: fixed;
  cursor: pointer;

}

.icons {
  padding: 9px;
  font-size: 1.19em;
  color: #fff;
}

.left-Navbar {
  height: 82px;
  width: 100%;
  background:#5764ac;
  font-size: 2.5rem;
  color: #fff;
}

.left-Navbar h3 {
  padding: 10px;
}


.icons i {
  background-color: rgb(58, 87, 173);
  color: #fff;
  border-radius: 50%;
  padding: 8px;
  margin-left: 2px;
  font: 500;
  font-size: 1.3rem;
  margin-top: 5.8px;
  text-align: center;
  cursor: pointer;
}

.Right {
  height: 86%;
  width: 81%;
  margin-left: 18%;
}

.table-Section {
  width: 95%;

}

.heading {
  width: 82%;
  background-color: #5764ac;
  position: fixed;
}

.heading h1 {
  color: #fff;
  text-align: center;
  padding: 5px;
  font-size: 3em;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-left: 68px;
  padding-top: 100px;
  font: 600;
}

.Employee-Table h1 {
  height: 100px;

}

td {
  border: 1px solid #777;
  text-align: center;
  padding: 8px;
  font: 400;
  font-size: 1.3em;
  color: #fff;
}

th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  font: 600;
  font-size: 1.1em;
  font-size: 1.5em;
  color: #fff;
  background-color: #607D8B;
}

.icon {
  padding: 5px;
  font-size: 1.4em;
  text-align: center;
}